@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


.homeMain{
    height: 100dvh;
    border: 3px solid firebrick;
    display: flex;
    justify-content: center;
   
    align-items: center;
}

/* .dashboardGrid{
    height: 50vh;
    width:   70%; 
    border-radius: 2rem 2rem 2rem 2rem;
    transform: translateX(-12%);
    border: 3px solid #8869f4;
    transition: 1s ease;
    animation: displayGrid infinite  ease-in 3s 1 direction forwards;
    
}


.dashboardGrid2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
} */

.dashboardGrid {
    display: grid;
    height: 80%;
    width: 30%;
    border-radius: 2rem;
    transition: width 3s ease-in, grid-template-columns 3s ease-in;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .dashboardGrid2 {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .smoothTransition{
    transition-duration: 3s;
    
  }  

  .info1 {
    position: absolute;
    animation: displayGrid 3s linear forwards;
    animation-delay: 3s;
    height: 30vh;
    width: 25%;
  }

.info1 :nth-child(1) {
    z-index: 1;
    grid-column-start: 1;
  }
  
  .info1 :nth-child(2) {
    z-index: -1; /* Adjusted z-index */
    animation: secondChild 3s ease-in forwards;
    grid-column-start: 2;
   

  }
  
  .info1 :nth-child(3) {
    z-index: -2; /* Adjusted z-index */
    animation: thirdChild 3s ease-in forwards;
    grid-column-start: 3;
   
  }
  
.dashboardInfos{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    align-items: center;
}

.info{
    height: 80%;
    width: 100%;
    /* border: 3px solid black; */
    border-radius: 2rem 2rem 2rem 2rem;
    text-align: center;
    background-color:#FFFFFF;
    /* letter-spacing: 2px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info1 .dashboardInfos .info{
        height: 30vh;
       
}

.info1 .dashboardInfos{
    position: absolute;
    animation: splittingBox 3s linear 3s forwards;

}

.info :nth-child(1){
        /* font-size: 2.2rem;        */
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;

}

.info :nth-child(2){
    font-size: 2.6rem;
    
}

.infoIcons h1{
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
}

.info .infoIcons{
    color:#8b6aff;
    font-size: 10rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes displayGrid {
    0%{
       grid-template-columns: repeat(1,1fr);
       grid-template-rows: 1fr;
    }


    100%{
        grid-template-columns: repeat(3,1fr);
        width: 70%;
    }
}


