.sidebarContainer {
  position: fixed;
   overflow: hidden;
  height: 100vh;
  width: 5vw;
 
}

.sidebarContent{
    position: relative;
    height: 100%;
    /* border: 3px solid lime; */
    top: 0;
    left:-100%;
    width: 100%;
  /* display: none;      */ 
  /* visibility: hidden; */
   border-top-right-radius: 3ch;
    transition: .5s  linear;
      background-color: #f9f7ff;
}

.show{
    bottom: 0;
     left: 0;  
    transition: .25s  linear;
}

.sidebarContainer .sidebarContent .sidebarElements li a{
    color: rgb(92, 91, 91);
    display: block;

}



.sidebarContent .sidebarElements{
    height: 50vh;
     list-style: none;
      display: flex;
    flex-direction: column;
    align-items: center;
     /* border: 3px dashed red; */
     justify-content: space-around  ;
     width: 100%;
     /* visibility: hidden; */
}

.sidebarContent .sidebarElements > li >.sidebarInnerEle>a:hover {
     
  color: black;
}

.sidebarInnerEle{
    padding: 0.4rem 1.8rem 0.4rem 0.2rem;
    border-radius: 1rem 0 0 1rem;
    margin-inline-start: 2ch;
    cursor: pointer;
    transition: all .7s;

    /* clip-path: circle(40% at center); */
}

.sidebarInnerEle:hover{
    scale:  1.1;
    transition: .7s;
    border: .5px solid #e1e7ff;
    background:#e1e7ff;
}

